/* start body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Rowdies", sans-serif;
}

body {
  background: linear-gradient(90deg, #050509 0%, #412c61 50%, #070509 100%);
  line-height: 1.6;
  overflow-x: hidden;
}

/* end Body */

/* start header  */
.Header_logo {
  text-align: center;
  background: linear-gradient(160deg, #050509 0%, #412c61 50%, #070509 100%);
  background-size: 400%;
  padding: 50px 0;
  animation: moveBG 5s linear infinite;
}

@keyframes moveBG {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.logo {
  text-align: center;
  display: inline-block;
  padding: 0 5px;
  position: relative;
}

.rot_log {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 35%;
  box-shadow: 0 0 5px 5px #630081 inset, 0 0 10px 10px #8e17f0;
  animation: rotateBG 5s linear infinite;
}

@keyframes rotateBG {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.logo img {
  display: block;
  width: 200px;
  border-radius: 50%;
  filter: drop-shadow(0 0 20px #622bb5);
  transform: translate(-3%, 0);
}
/* end header */

/* start navbar */
.nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 5px solid #270529;
}

.title h1 {
  background: linear-gradient(
    90deg,
    #574ae2 0%,
    #222a68 25%,
    #654597 50%,
    #ab81cd 75%,
    #e2adf2 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
}

.Nav_List {
  display: flex;
  gap: 50px;
}

.nav_links {
  background: #000000;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
}

.Nav_List .nav_links::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #574ae2 0%,
    #222a68 25%,
    #654597 50%,
    #ab81cd 75%,
    #e2adf2 100%
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 2px;
  z-index: -1;
  animation: moveLink 3s linear infinite;
  background-size: 400% 400%;
  transition: filter 0.3s ease;
}

@keyframes moveLink {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.Nav_List .nav_links:hover::before {
  filter: blur(1.5rem);
}

.Nav_List a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
/* end navbar */
/* end header */





/* start media  */

/* end media  */
