* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Rowdies", sans-serif;
}

body {
  background: linear-gradient(360deg, #050509 0%, #412c61 50%, #070509 100%);
  line-height: 1.6;
  overflow-x: hidden;
}

/* .header {
  position: sticky;
  top: 0;
} */

.nav {
  position: sticky;
  top: 0;
  /* left: 0; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #2705296e;
  z-index: 100;
  background: linear-gradient(90deg, #0a0514 0%, #2d1b47 50%, #0a0514 100%);
  background-size: 200% 200%;
  animation: moveBG 8s ease infinite;
}

.title h1 {
  background: linear-gradient(
    90deg,
    #574ae2 0%,
    #222a68 25%,
    #654597 50%,
    #ab81cd 75%,
    #e2adf2 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
}

.Nav_List {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.nav_links {
  background: #000000;
  padding: 0px 4px;
  border-radius: 20px;
  position: relative;
}

.Nav_List .nav_links::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #574ae2 0%,
    #222a68 25%,
    #654597 50%,
    #ab81cd 75%,
    #e2adf2 100%
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 2px;
  z-index: -1;
  animation: move 3s linear infinite;
  background-size: 400% 400%;
  transition: filter 0.3s ease;
}

.Nav_List .nav_links:hover::before {
  filter: blur(1.5rem);
}

.Nav_List a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.section {
  display: flex;
  color: rgb(136, 4, 201);
}
.section h1 {
  font-size: 0.627rem;
  font-weight: 800;
}
.section h2 {
  font-size: 0.6rem;
  font-weight: 800;
  text-align: center;
  margin: 5px 0;
}
main {
  width: 80%;
  padding: 0 5px;
}
main p {
  font-size: 0.5rem;
  font-weight: lighter;
  color: #f8dcdc;
}
aside {
  width: 20%;
  padding: 0 5px;
  text-align: center;
}
/* article {
  position: sticky;
  top:0;
  right:O;
} */
.container-logo {
  position: relative;
}
.childImg{
  position: sticky;
  top: 0;
  right: 0;
}
.container {
  margin:23px 20px;  
}
.container-imgmadrid{
  text-align: center;
  height: 20%;
}
.Imgmadrid {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.paragraphe-logo {
  font-size: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: oblique;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.logo {
  width: 40%;
}
h1 strong {
  background-color: #6e2ad4;
  padding: 0 2px;
  border-radius: 5px;
  color: white;
}
.container-img img {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  border-radius: 10px;
}
.container-video video {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
.nestedCard ul {
  list-style: initial;
  margin: initial;
  padding: 0 0 0 20px;
}
.nestedCard li {
  display: list-item;
}
.nestedCard {
  color: white;
  font-size: 7px;
}
.nestedItems{
  margin-top: 8px;
  border-radius: 10px;
}
ul b {
  background-color: #01263a;
  border-radius: 5px;
  padding: 0 5px; 
  font-style: italic;
}
.card {
  font-size: 12px;
}
.container-card {
  background-color: rgba(1, 1, 122,1);
  text-align: center;
  width: 33%;
  border-radius: 5px;
}
ul em{
  background-color: #0e0e0e;
  border-radius: 5px;
  padding: 0 5px;
}
ul a{
    text-decoration: none;
    color: white;
}

@keyframes move {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes moveBG {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
  
}

@keyframes rotateBG {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes moveLink {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.footer {
  margin-top: 50px;
}

.footer_nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 5px solid #2705296e;
  z-index: 100;
  background: linear-gradient(90deg, #0a0514 0%, #2d1b47 50%, #0a0514 100%);
  background-size: 200% 200%;
  animation: moveBG 8s ease infinite;
}
.footer_nav .footer_logo img {
  width: 40px;
}
.footer_nav .footer_logo img {
  filter: drop-shadow(0 0 10px #8b58d3);
}

.footer_List {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.footer_links {
  background: #000000;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
}

.footer_List .footer_links::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #574ae2 0%,
    #222a68 25%,
    #654597 50%,
    #ab81cd 75%,
    #e2adf2 100%
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 2px;
  z-index: -1;
  animation: move 3s linear infinite;
  background-size: 400% 400%;
  transition: filter 0.3s ease;
}

.footer_List .footer_links:hover::before {
  filter: blur(1.5rem);
}

.footer_List a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.footer .contact_us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.support h4 {
  color: #fff;
  font-size: 1.5rem;
}
.support input {
  width: 300px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #6f009b;
}
.support button:hover,
.support input:hover {
  box-shadow: 0 0 5px 5px #6f009b;
}
.follow_us a img
{
  transition: all 0.4s ease;
}
.follow_us a img:hover {
  box-shadow: 0 0 5px 5px #6f009b;
  transform: translateY(-10px);
}
.support form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support button {
  margin-top: 10px;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #6f009b;
  color: #fff;
}

@media (min-width : 600px) {
   .section h1 {
     font-size: 1.427rem;
   }
   .logo {
     width: 30%;
     margin-top: 5px;
   }
   .nestedItems{
  margin-top: 8px;
  border-radius: 10px;
  font-size: 10px;
}
.section h2 {
  font-size: 0.9rem;
  font-weight: 800;
  text-align: center;
  margin: 5px 0;
}
main p {
  font-size: 0.5rem;
  font-weight: lighter;
  color: #f8dcdc;
}
}

@media (min-width : 1000px) {

  .section h1 {
    font-size: 1.9rem;
  }
  .logo {
     width: 40%;
     margin-left: 40px;
   }
  
  main p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #f8dcdc;
}
.section h2 {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  margin: 5px 0;
}
.nestedItems{
  margin-top: 8px;
  border-radius: 10px;
  font-size: 18px;

}
}
@media (max-width: 768px) {
  html {
    overflow-x: hidden !important ;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 10px;
  }
  .nav {
    position: static !important;
  }

  .Nav_List {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .nav_links {
    padding: 5px 30px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  html {
    overflow-x: hidden !important ;
  }
  .nav {
    position: static !important;
  }
}
